name: Deploy to Cloudflare Workers

on:
  push:
    branches:
      - "main"
  workflow_dispatch:

jobs:
  start:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install Packages
        run: bun install --frozen-lockfile

      - name: Generate Prisma Types
        run: bun typegen

      - name: Lint
        run: bun lint

      # - name: Update Commands
      #   run: >
      #     DISCORD_TOKEN='${{ secrets.DISCORD_TOKEN }}'
      #     APPLICATION_ID='${{ secrets.APPLICATION_ID }}'
      #     bun scripts/refreshCommandList.ts

      - name: Deploy
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CF_AUTH }}
